

<div class="container">
  <h1 class="header">Your Answer</h1>
  <div class="card" style="width: 18rem;">
    <img src="./../assets/images/angry_coach.jpg" class="card-img-top" alt="angry-coach">
    <div class="card-body">
      <h5 class="card-title">Coach Answer</h5>
      <p class="card-text"><%= @answer %></p>
    </div>
  </div>
</div>

